.DS_Store
*.log
.emacs.*
.lock

*.iws
*.ipr
*.iml
*.swp
*.class
/out
build
*/build/*
/.settings/
.idea

.classpath
.factorypath
.project
.settings
.gradle
.metadata
.apt_generated
classes/*

.env
__pycache__/
simple-integration-cli/src/integration-test/resources/hoverfly/temp/
sync_prod.json

**/__pycache__/
./nr1_templates/__pycache__/*
definition/__pycache__
node_modules
.vscode
